{
  "extends": "react-app",
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "semi": [2, "never"],
    "quotes": [1, "single", { "avoidEscape": true }],
    "max-len": [1, { "code": 100 }]
  }
}
